@import url("https://fonts.googleapis.com/css2?family=Borel&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "tailwindcss";
@import "tailwind-animate";

@font-face {
  font-family: "Pixellari";
  src: url("/fonts/Pixellari.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@layer base {
  a {
    @apply underline decoration-2 text-accent;
  }

  h2 {
    @apply text-2xl font-extrabold;
  }
}

@theme {
  --color-muted: #8899A6;
  --color-bg: #0E171B;
  --color-bg-1: #121E24;
  --color-bg-2: #1C2A30;
  --color-stuff: #131e23;
  --color-accent: #ed7636;
  --font-sans: "Nunito", sans-serif;

  @keyframes accordion-down {
		from {
			height: 0;
		}
		to {
			height: var(--bits-accordion-content-height);
		}
	}

	@keyframes accordion-up {
		from {
			height: var(--bits-accordion-content-height);
		}
		to {
			height: 0;
		}
	}
}

body {
  @apply bg-bg sm:text-lg text-base underline-offset-2 font-medium text-white selection:bg-accent selection:text-white;
}
