@import url("https://fonts.googleapis.com/css2?family=Borel&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "tailwindcss";
@import "tailwind-animate";

@font-face {
  font-family: "Pixellari";
  src: url("/fonts/Pixellari.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@layer base {
  h2 {
    @apply text-2xl font-extrabold tracking-wide;
  }

  body {
    @apply bg-bg text-base underline-offset-2 font-medium text-white selection:bg-primary selection:text-white;
  }
}

@theme {
  --color-bg: #0E171B;
  --color-text: #ffffff;
  --color-text-dim: #8899A6;
  --color-surface: #1C2A30;
  --color-primary: #ed7636;
  --color-primary-dim: #d9692d;
  --color-secondary: #5a7f38;
  --color-secondary-dim: #4a6b2f;

  --font-sans: "Nunito", sans-serif;
  --font-gilroy: "Gilroy", sans-serif;

  --height-screen: 100dvh;
  --animate-wobble: wobble 1s ease-in-out infinite;

  @keyframes accordion-down {
		from {
			height: 0;
		}
		to {
			height: var(--bits-accordion-content-height);
		}
	}

	@keyframes accordion-up {
		from {
			height: var(--bits-accordion-content-height);
		}
		to {
			height: 0;
		}
	}

  @keyframes stripe-move {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -33.9411254969543px 0;
    }
  }

  @keyframes wobble {
    0% {
      transform: rotate(-5deg);
    }
    50% {
      transform: rotate(5deg);
    }
    100% {
      transform: rotate(-5deg);
    }
  }
}

@utility bg-stripes {
  @apply relative isolate;

  &::before {
    content: "";
    @apply absolute inset-0 -z-10 transition;

    background-color: var(--color-stripes-bg, var(--color-primary-dim));
    background-image: repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 12px,
      var(--color-stripes-fg, var(--color-primary)) 12px,
      var(--color-stripes-fg, var(--color-primary)) 24px
    );
    background-size: 200% 100%;
    background-position: 0 0;
  }

  &:hover::before {
    @apply brightness-75;
    animation: stripe-move 1s linear infinite;
  }
}
@utility bg-stripes-static {
  @apply relative isolate;

  &::before {
    content: "";
    @apply absolute inset-0 -z-10 transition;

    background-color: var(--color-stripes-bg, var(--color-primary-dim));
    background-image: repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 20px,
      var(--color-stripes-fg, var(--color-primary)) 20px,
      var(--color-stripes-fg, var(--color-primary)) 40px
    );
    background-size: 200% 100%;
    background-position: 0 0;
  }
}
@utility bg-stripes-green {
  --color-stripes-bg: var(--color-secondary-dim);
  --color-stripes-fg: var(--color-secondary);
}
@utility border-dashed {
  background-image: url("/dashed.svg");
  background-repeat: repeat;
  background-size: 16px 16px;
}
@utility corner-squircle {
  corner-shape: squircle;
}
