@import "tailwindcss";

@font-face {
  font-family: "Pixellari";
  src: url("/fonts/Pixellari.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@theme {
  --color-accent: #FF762A;
  --font-sans: "Pixellari", sans-serif;
}

body {
  @apply bg-accent/75 text-2xl text-white;
}
