@import "tailwindcss";

@font-face {
  font-family: "Pixellari";
  src: url("/fonts/Pixellari.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@theme {
  --color-bg: #0E171B;
  --color-stuff: #131e23;
  --color-accent: #ff813c;
  --font-sans: "Pixellari", sans-serif;
}

body {
  @apply bg-bg text-3xl text-white;
}
