@import url("https://fonts.googleapis.com/css2?family=Borel&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "tailwindcss";
@import "tailwind-animate";

@font-face {
  font-family: "Pixellari";
  src: url("/fonts/Pixellari.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@layer base {
  h2 {
    @apply text-2xl font-extrabold;
  }
}

@theme {
  --color-muted: #8899A6;
  --color-bg: #0E171B;
  --color-bg-1: #121E24;
  --color-bg-2: #1C2A30;
  --color-primary: #ed7636;
  --color-primary-dark: #d9692d;
  --color-secondary: #4D6E2F;
  --color-secondary-dark: #415b27;

  --font-sans: "Nunito", sans-serif;

  @keyframes accordion-down {
		from {
			height: 0;
		}
		to {
			height: var(--bits-accordion-content-height);
		}
	}

	@keyframes accordion-up {
		from {
			height: var(--bits-accordion-content-height);
		}
		to {
			height: 0;
		}
	}
}

@utility bg-stripes {
  @apply relative isolate;

  &::before {
    content: "";
    @apply absolute inset-0 -z-10 shadow-md rounded-4xl corner-squircle transition;

    background-color: var(--color-stripes-bg, var(--color-primary-dark));
    background-image: repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 12px,
      var(--color-stripes-fg, var(--color-primary)) 12px,
      var(--color-stripes-fg, var(--color-primary)) 24px
    );
    background-size: 200% 100%;
    background-position: 0 0;
  }

  &:hover::before {
    @apply brightness-75;
    animation: stripe-move 1s linear infinite;
  }
}
@utility bg-stripes-green {
  --color-stripes-bg: var(--color-secondary-dark);
  --color-stripes-fg: var(--color-secondary);
}
@utility border-dashed {
  background-image: url("/dashed.svg");
  background-repeat: repeat;
  background-size: 16px 16px;
}
@utility corner-squircle {
  corner-shape: squircle;
}

@keyframes stripe-move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -33.9411254969543px 0;
  }
}

body {
  @apply bg-bg sm:text-base text-base underline-offset-2 font-medium text-white selection:bg-primary selection:text-white;
}
